SF_BASE_URL=https://yourinstance.lightning.force.com
SF_USERNAME=your_sf_username
SF_PASSWORD=your_sf_password
SF_CONSUMER_KEY=your_connected_app_consumer_key
SF_PRIVATE_KEY_PATH=./certs/server.key
SF_API_VERSION=api_version